.post_wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.post_create_btn {
  margin: 50px 0;
}

.post_title {
  width: 70%;
  margin-bottom: 15px;
}

.post_title div {
  width: 100%;
}

.post_contents {
  width: 70%;
  margin-bottom: 15px;
}

.post_contents div {
  width: 100%;
}

.post_category {
  margin-bottom: 15px;
  width: 70%;
}

.post_category div {
  width: 100%;
}

