body {
  overflow: auto
}

.title {
  width: 964px;
  height: 33px;
  margin-left: 70px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 33px;
}

.box_wrapper {
  display: flex;
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 60px;
}

.box {
  width: 27vw;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #e9ecef !important;
  box-shadow: none !important;

  display: flex;
  flex-direction: column;
}

.box_title {
  margin-left: 17px;
}

.task_box {
  max-width: 26vw;
  margin-left: 6px;
  margin-top: 10px;
  height: 80px;
  align-self: center;
  display: flex;
}

.task_input {
  padding: 10px;
  width: 90%;
  border: none;
  resize: none;
}

.add_button {
  color: black !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  width: 150px;
}